* {
    padding: 0;
    margin: 0;
    font-family: 'Victor Mono';
}

:root {
    --main-color: #f99;
    --card-color: #cad;
    --hover-color: #96a;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    outline: 3px dotted #000;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 90px;
    border-bottom: 2px solid #000;
}

.logo {
    width: 70px;
    height: 70px;
}

.encabezado {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}

.encabezado p {
    font-size: 20px;
    font-style: italic;
    border-bottom: 2px dotted #000;
}

.menu__item {
    display: inline-block;
    margin: 0 20px;
}

.menu__item a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    border-bottom: 2px dotted #000;
}

.menu__item a:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

/* MAIN */
section {
    display: flex;
    flex-direction: column;
    margin: 40px 60px;
    text-align: justify;
}

.backcard {
    background: var(--card-color);
    padding: 20px;
    border-radius: 20px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--main-color);
    padding: 20px 0;
    flex-basis: 130px;
    margin-top: 100px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.social {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.social a {
    text-decoration: none;
    margin: 10px 25px 0;
    font-size: 22px;
    color: #fff;
}

.social a:hover {
    color: var(--hover-color);
}

.social div {
    border-bottom: 2px solid #fff;
    width: 100vh;
    margin: 0 30px;
}